#cuerpo{
    background-color: crimson;
}
#titulo{
    color: black;
    background-color: white;
}
#subtitulo{
    color: yellow;
    font-style: italib;
}
#parrafo{ 
    color: aqua;
    font-weight: bolder;
}