.contenedor{
    width: 1280px;
    height: 800px;
    background-color: #1EAAF1;
    margin:auto;
}
header{
    width: 1280px;
    height: 210px;
    background-color: red;
}
nav{
    width: 250px;
    height: 540px;
    background-color: greenyellow;
}
main{
    width: 750px;
    height: 540px;
    background-color: orange;
    margin-left: 250px;
    margin-top: -540px;
}
.anuncio1{
    width: 280px;
    height: 180px;
    background-color: rgb(155, 118, 255);
    margin-left: 1000px;
    margin-top: -540px;
}
.anuncio2{
    width: 280px;
    height: 180px;
    background-color: rgb(207, 207, 207);
    margin-left: 1000px;
}
.anuncio3{
    width: 280px;
    height: 180px;
    background-color: rgb(183, 0, 255);
    margin-left: 1000px;
}
footer{
    width: 1280px;
    height: 50px;
    background-color: yellow;
}